body {
    cursor: default;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgb(25, 17, 161) 0%,
        rgb(62, 62, 219) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: #75e8ff8d;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgb(63, 63, 63);
    border-radius: 8px;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}
.card {
    background-color: #00d5ff65;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    height: 500px;
    box-shadow: 0 2px 2px 0 rgb(63, 63, 63);
    border-radius: 8px;
}
.titleContainer {
    height: 50px;
}
.descContainer {
    height: 80px;
}
.image {
    object-fit: cover;
    width: 250px;
    height: 150px;
    box-shadow: 0 2px 2px 0 rgb(63, 63, 63);
    border-radius: 8px;
    cursor: pointer;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgb(63, 63, 63);
    cursor: pointer;
    background-color: #9deefead;
}
.detailbWrap {
    padding: 0;
    margin: 0;
    width: 100vw;
}
#detail {
    color: whitesmoke;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
    background-color: #000000e1;
    height: 100vh;
    width: 100vw;
}
.imageDetail {
    max-width: 50vw;
    max-height: 50vh;
    box-shadow: 0 2px 2px 0 rgb(63, 63, 63);
    border-radius: 8px;
    cursor: pointer;
}
#warenkorbBtn {
    cursor: pointer;
    position: fixed;
    font-size: 1.2rem;
    top: 15px;
    right: 15px;
    width: 50px;
    height: auto;
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0);
    border-radius: 8px;
    background-color: #9deefead;
    /* mix-blend-mode: lighten; */
}
.warenkorbWrap {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#warenkorb {
    color: whitesmoke;
    background-color: #000000e1;
    visibility: hidden;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    justify-content: center;
}
#warenkorbSub {
    text-align: center;
}
#warenkorbSub .item:nth-child(even) {
    background-color: #5a44ff19;
}
#warenkorbSub .item:nth-child(odd) {
    background-color: #9284fd56;
}
.item {
    display: flex;
    font-size: 1rem;
    width: 50%;
    margin: auto;
}
.item > * {
    width: 20%;
}
#close {
    position: fixed;
    top: 15px;
    right: 15px;
}
.fade-in {
    -webkit-animation: fade-in ease-in 3s;
    animation: fade-in ease-in 3s;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    -webkit-animation: fade-out 3s ease-out;
    animation: fade-out 3s ease-out;
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 25px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 600px) {
    .container {
        display: block;
    }
}
